{% extends param('ccdn_user_member.member.list.layout_template') %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block title %}{{ 'title.member' | trans({}, 'CCDNUserMemberBundle') }}{% endblock %}

{% block sidebar %}
	{{ parent() }}
	
	{% include 'CCDNUserMemberBundle:Sidebar:sidebar.html.twig' %}
	
{% endblock %}

{% block body %}

	{% include 'CCDNComponentCommonBundle:Flashes:flashes.html.twig' %}

	<h2>{{ 'title.member' | trans({}, 'CCDNUserMemberBundle') }}</h2>

	<div class="btn-toolbar center">
		<div class="btn-group">
		{% for letter in "A".."Z" %}
			<a class="btn {% if alpha is defined %}{{ (letter == alpha) ? 'active' : '' }}{% endif %}" href="{{ path('cc_members_alpha_index', {'alpha': letter}) }}">{{ letter }}</a>
		{% endfor %}
		</div>
	</div>

	{% if pager.haveToPaginate %}
		{{ pagerfanta(pager, 'twitter_bootstrap', {'routeName': pager_route } ) }}
	{% endif %}

	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th class="left">{{ 'member.table.head.username' | trans({}, 'CCDNUserMemberBundle') }}</th>
				<th class="center">{{ 'member.table.head.website' | trans({}, 'CCDNUserMemberBundle') }}</th>
				<th class="center">{{ 'member.table.head.pm' | trans({}, 'CCDNUserMemberBundle') }}</th>
				<th class="center">{{ 'member.table.head.aim' | trans({}, 'CCDNUserMemberBundle') }}</th>	
				<th class="center">{{ 'member.table.head.msn' | trans({}, 'CCDNUserMemberBundle') }}</th>	
				<th class="center">{{ 'member.table.head.icq' | trans({}, 'CCDNUserMemberBundle') }}</th>	
				<th class="center">{{ 'member.table.head.yahoo' | trans({}, 'CCDNUserMemberBundle') }}</th>
				<th class="center">{{ 'member.table.head.joined_date' | trans({}, 'CCDNUserMemberBundle') }}</th>				
			</tr>
		</thead>
		<tbody>
		{% for row, user in members %}
			{% if not user.locked or not user.enabled %}
			<tr class="{{ cycle(['row_odd', 'row_even'], row) }}">
				<td class="left">
					<a href="{{ path(user_profile_route, {'user_id': user.getId }) }}">{{ user.username |title }}</a>
				</td>
				<td class="center">
					{% if user.getProfile.website %}
					<a href="{{ user.getProfile.website }}" target="_blank"><i class="icon-globe"></i></a>
					{% endif %}
				</td>
				<td class="center">
					<a href="{{ path('cc_message_message_compose_to', {'user_id': user.getId }) }}"><i class="icon-envelope"></i></a>
				</td>
				<td class="center">
					{% if user.getProfile.aimIsPublic %}
					<a href="{{ (is_granted('ROLE_USER')) ? 'mailto:' ~ user.getProfile.aim : path(param('ccdn_user_member.login_route')) }}"><i class="icon-envelope"></i></a>
					{% endif %}
				</td>
				<td class="center">
					{% if user.getProfile.msnIsPublic %}
					<a href="{{ (is_granted('ROLE_USER')) ? 'mailto:' ~ user.getProfile.msn : path(param('ccdn_user_member.login_route')) }}"><i class="icon-envelope"></i></a>
					{% endif %}
				</td>
				<td class="center">
					{% if user.getProfile.icqIsPublic %}
					<a href="{{ (is_granted('ROLE_USER')) ? 'mailto:' ~ user.getProfile.icq : path(param('ccdn_user_member.login_route')) }}"><i class="icon-envelope"></i></a>
					{% endif %}
				</td>
				<td class="center">
					{% if user.getProfile.yahooIsPublic %}
					<a href="{{ (is_granted('ROLE_USER')) ? 'mailto:' ~ user.getProfile.yahoo : path(param('ccdn_user_member.login_route')) }}"><i class="icon-envelope"></i></a>
					{% endif %}
				</td>
				<td class="center">
					{{ user.getRegisteredDate |date(param('ccdn_user_member.member.list.member_since_datetime_format')) }}
				</td>
			</tr>
			{% endif %}
		{% else %}
			<tr>
				<td class="center" colspan="8">
					{{ 'members.table.empty' | trans({}, 'CCDNUserMemberBundle') }}
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	
	{% if pager.haveToPaginate %}
		{{ pagerfanta(pager, 'twitter_bootstrap', {'routeName': pager_route } ) }}
	{% endif %}
	
{% endblock %}