{% extends param('ccdn_user_member.member.layout_templates.list') %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block title %}{{ 'title.member' | trans({}, 'CCDNUserMemberBundle') }}{% endblock %}

{% block sidebar %}
	{% if is_granted('ROLE_MODERATOR') %}
	<div class="common_box_5 bg_header_smoke">
		<div class="common_box_header"><span class="heading_glow">{{ 'sidebar.header.special' | trans({}, 'CCDNComponentCommonBundle') }}</span></div>
		<div class="common_box_panel"><a class="sidebar" href="{{ path('cc_moderator_forum_cp') }}">{{ 'general.view.link_moderate' | trans({}, 'CCDNComponentCommonBundle') }}</a></div>
		{% if is_granted('ROLE_ADMIN') %}
		<div class="common_box_panel"><a class="sidebar" href="{{ path('cc_admin_forum_cp') }}">{{ 'general.view.link_administrate' | trans({}, 'CCDNComponentCommonBundle') }}</a></div>
		{% endif %}
	</div>
	{% endif %}
	
	{% if is_granted('ROLE_USER') %}
	<div class="common_box_5 bg_header_smoke">
		<div class="common_box_header"><span class="heading_glow">{{ 'sidebar.header.tools'|trans({}, 'CCDNUserProfileBundle') }}</span></div>
		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
		<div class="common_box_panel"><a class="sidebar" href="{{ path('cc_user_account_show') }}">{{ 'sidebar.link.account.view'|trans({}, 'CCDNUserProfileBundle') }}</a></div>
		<div class="common_box_panel"><a class="sidebar" href="{{ path('cc_profile_show') }}">{{ 'sidebar.link.profile.view'|trans({}, 'CCDNUserProfileBundle') }}</a></div>
		{% endif %}
	</div>
	{% endif %}
{% endblock %}

{% block body %}

{% include 'CCDNComponentCommonBundle:Flashes:flashes.html.twig' %}

<div class="common_box_5 bg_header_smoke">
	<div class="common_box_header">
		<span class="heading_glow">{{ 'title.member' | trans({}, 'CCDNUserMemberBundle') }}</span>
	</div>
	<div class="common_tool_strip">
		<div class="h_align_centre">		
		{% for letter in "A".."Z" %}
			<a href="{{ path('cc_members_alpha_index', {'alpha': letter}) }}">{{ letter }}</a>&nbsp;
		{% endfor %}
		</div>
	</div>
	{% if pager.haveToPaginate %}
	<div class="pagerfanta">
		{{ pagerfanta(pager, 'default', {'routeName': pager_route } ) }}
	</div>
	{% endif %}
	<div class="common_box_panel">		
		<table class="common_list">
			<thead>
				<tr>
					<th>{{ 'member.table.head.username' | trans({}, 'CCDNUserMemberBundle') }}</th>
					<th class="h_align_centre">{{ 'member.table.head.website' | trans({}, 'CCDNUserMemberBundle') }}</th>
					<th class="h_align_centre">{{ 'member.table.head.pm' | trans({}, 'CCDNUserMemberBundle') }}</th>
					<th class="h_align_centre">{{ 'member.table.head.aim' | trans({}, 'CCDNUserMemberBundle') }}</th>	
					<th class="h_align_centre">{{ 'member.table.head.msn' | trans({}, 'CCDNUserMemberBundle') }}</th>	
					<th class="h_align_centre">{{ 'member.table.head.icq' | trans({}, 'CCDNUserMemberBundle') }}</th>	
					<th class="h_align_centre">{{ 'member.table.head.yahoo' | trans({}, 'CCDNUserMemberBundle') }}</th>
					<th class="h_align_centre">{{ 'member.table.head.joined_date' | trans({}, 'CCDNUserMemberBundle') }}</th>				
				</tr>
			</thead>
			<tbody>
			{% for row, user in members %}
				{% if not user.locked or not user.enabled %}
				<tr class="{{ cycle(['row_odd', 'row_even'], row) }}">
					<td class="">
						<a class="username_medium" href="{{ path(user_profile_route, {'user_id': user.getId }) }}">{{ user.username }}</a>
					</td>
					<td class="h_align_centre">
						{% if user.getProfile.website %}
						<a href="{{ user.getProfile.website }}" target="_blank"><img class="icon_16x16" width="16" height="16" src="{{ asset('bundles/ccdncomponentcommon/images/icons/Black/16x16/16x16_world.png') }}" alt="icon"></a>
						{% endif %}
					</td>
					<td class="h_align_centre">
						<a href="{{ path('cc_message_message_compose_to', {'user_id': user.getId }) }}"><img class="icon_16x16" width="16" height="16" src="{{ asset('bundles/ccdncomponentcommon/images/icons/Black/16x16/16x16_email.png') }}" alt="icon"></a>
					</td>
					<td class="h_align_centre">
						{% if user.getProfile.aimIsPublic %}
						<a href="mailto:{{ user.getProfile.aim }}"><img class="icon_16x16" width="16" height="16" src="{{ asset('bundles/ccdncomponentcommon/images/icons/Black/16x16/16x16_address.png') }}" alt="icon"></a>
						{% endif %}
					</td>
					<td class="h_align_centre">
						{% if user.getProfile.msnIsPublic %}
						<a href="mailto:{{ user.getProfile.msn }}"><img class="icon_16x16" width="16" height="16" src="{{ asset('bundles/ccdncomponentcommon/images/icons/Black/16x16/16x16_address.png') }}" alt="icon"></a>
						{% endif %}
					</td>
					<td class="h_align_centre">
						{% if user.getProfile.icqIsPublic %}
						<a href="mailto:{{ user.getProfile.icq }}"><img class="icon_16x16" width="16" height="16" src="{{ asset('bundles/ccdncomponentcommon/images/icons/Black/16x16/16x16_address.png') }}" alt="icon"></a>
						{% endif %}
					</td>
					<td class="h_align_centre">
						{% if user.getProfile.yahooIsPublic %}
						<a href="mailto:{{ user.getProfile.yahoo }}"><img class="icon_16x16" width="16" height="16" src="{{ asset('bundles/ccdncomponentcommon/images/icons/Black/16x16/16x16_address.png') }}" alt="icon"></a>
						{% endif %}
					</td>
					<td class="h_align_centre">{{ user.getRegisteredDate|date("d/m/Y - H:i:s") }}</td>
				</tr>
				{% endif %}
			{% endfor %}
			</tbody>
		</table>
	</div>
	{% if pager.haveToPaginate %}
	<div class="pagerfanta">
		{{ pagerfanta(pager, 'default', {'routeName': pager_route } ) }}
	</div>
	{% endif %}
</div>	

{% endblock %}